/* ------------------ Fonts ------------------ */

@font-face {
  font-family: 'ReallyAwesome';
  src: url('../fonts/Really-Awesome.ttf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand.ttf') format('opentype');
}

/* ------------------ Root ------------------ */

:root {
  	--pink: #ff3279;
    --lightpink: #ffabc8;
    --green: #1ae72b;
    --lightgreen: #c7fdbf;
    --grey: #202020;
    --white: #fff;
}

/* ------------------ Elements ------------------ */

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;
  background: linear-gradient(#ffffff, #bbbbbb);
}

h1, h2, h3 {
  margin: 0;
  letter-spacing: 4px;
  font-family: 'ReallyAwesome', sans-serif;
}

p {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 2px;
}

ul, li {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

/* ------------------ Flip card ------------------ */

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebebbb;
}

.main__card--container {
  width: 25em;
  height: 35em;
  perspective: 1000px;
}

.main__card--positioning {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.main__card--container:hover .main__card--positioning {
  transform: rotateY(180deg);
}

.main__card--front, .main__card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main__card--front {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.637)),
  url('assets/profile-pic.png');
  
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 12px;
}

.main__card--back {
  border-radius: 12px;
  transform: rotateY(180deg);
  background-color: #fff;
}

/* ------------------ Content Front ------------------ */

.main__card--title {
  color: var(--white);
  font-size: 4em;
  margin-top: 6.4em;
}

.main__card--name {
  color: var(--white);
  opacity: 0.8;
  font-size: 1.6em;
}

/* ------------------ Content Back ------------------ */

h2 {
  font-size: 2.6em;
  color: var(--grey);
  margin-top: 1em;
  margin-bottom: 0;
}

h3 {
  color: var(--grey);
}

.main__card--section {
  margin: 1em auto;
  width: 90%;
}

.main__card--section p {
  line-height: 1.6;
  padding: 0.2em;
}

.main__card--facts {
  padding: 2em;
  padding-top: 0;
}

.main__card--emoji {
  width: 40px;
}

.main__card--listing {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 1em;
}

/* ------------------ Background shapes ------------------ */

/*  */
.custom-shape-divider-top-1707322241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border-radius: 12px;
}

.custom-shape-divider-top-1707322241 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-top-1707322241 .shape-fill {
  fill: var(--pink);
}

/*  */
.custom-shape-divider-bottom-1707322314 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border-radius: 12px;
}

.custom-shape-divider-bottom-1707322314 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-bottom-1707322314 .shape-fill {
  fill: var(--lightpink);
}