/* ------------------ Fonts ------------------ */

@font-face {
  font-family: 'ReallyAwesome';
  src: url('../fonts/Really-Awesome.ttf') format('opentype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand.ttf') format('opentype');
}

/* ------------------ Root ------------------ */

:root {
  	--pink: #ff3279;
    --lightpink: #ffabc8;
    --green: #1ae72b;
    --lightgreen: #c7fdbf;
    --grey: #202020;
    --lightgrey: #ddd;
    --white: #fff;
}

/* ------------------ Elements ------------------ */

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 4px;
  /* background: linear-gradient(#fff, #bebebe); */
  background: linear-gradient(#fff, #ffeece);
}

h1, h2, h3 {
  margin: 0;
  letter-spacing: 4px;
  font-family: 'ReallyAwesome', sans-serif;
}

p {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 2px;
}

ul, li, button {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

/* ------------------ Flip card ------------------ */

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__card--backgroundvideo {
  width: 25em;
  height: 35em;
  object-fit: cover;
  border-radius: 12px;
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main__card--container {
  width: 25em;
  height: 35em;
  perspective: 1000px;
}

.main__card--positioning {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* TODO: This should be > tablet sizes only so they don't conflict with the other media query placed below. */
/* .main__card--container:hover .main__card--positioning {
  transform: rotateY(180deg);
} */

.main__card--front, .main__card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.main__card--front {
  /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.637)),
  url('assets/profile-pic.png'); */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.637));
  
  background-size: cover;
  background-position: center;
  object-fit: cover;
  border-radius: 12px;
}

.main__card--back {
  border-radius: 12px;
  transform: rotateY(180deg);
  background-color: var(--grey);
}

/* ------------------ Content Front ------------------ */

.main__card--title {
  color: var(--white);
  font-size: 4em;
  margin-top: 0;
}

.main__card--name {
  color: var(--white);
  opacity: 0.8;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.main__card--buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23em;
  filter: invert(100%) sepia(0%) saturate(6341%) hue-rotate(275deg) brightness(116%) contrast(100%);
}

.main__card--buttons img {
  width: 32px;
  margin: 0 0.2em;
}

.main__card--buttons img:nth-of-type(2), img:nth-of-type(4) {
  width: 42px;
}

.main__card--buttons img:nth-of-type(3) {
  width: 56px;
}

.main__card--flipbutton {
  display: none;
}

/* ------------------ Content Back ------------------ */

h2 {
  font-size: 2.6em;
  color: var(--white);
  margin-top: 1em;
  margin-bottom: 0;
}

h3 {
  color: var(--white);
}

p {
  color: var(--white);
}

.main__card--section {
  margin: 1em auto;
  width: 90%;
}

.main__card--section p {
  line-height: 1.6;
  padding: 0.2em;
}

.main__card--facts {
  padding: 2em;
  padding-top: 0;
}

.main__card--emoji {
  width: 40px;
}

.main__card--listing {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 1em;
}

/* Mobile and Tablet */

@media screen and (min-width: 1024px) {
  .main__card--container:hover .main__card--positioning {
    transform: rotateY(180deg);
  }  
}

@media screen and (max-width: 1023px) {
  .main__card--flipbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 3em;
    background-color: transparent;
    color: var(--white);
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0.4em 0.4em 0.4em 10.6em;
  }
  
  .main__card--buttons {
    margin-top: 18em;
  }

  .main__card--flip {
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 767px) {
  .main__card--container {
    width: 20em;
    height: 30em;
  }

  .main__card--backgroundvideo {
    width: 20em;
    height: 30em;
  }

  .main__card--flipbutton {
    font-size: 1.2em;
    margin: 0.4em 0.4em 0.4em 9.4em;
  }

  .main__card--buttons {
    margin-top: 14em;
  }

  .main__card--facts {
    margin: 0 auto;
    padding: 0;
    width: 90%;
  }

  /* .main__card--section {
    margin-bottom: 0;
  } */

  .main__card--back p {
    font-size: 0.8em;
  }

  h2 {
    margin-bottom: 0;
  }
}

/* ------------------ Background shapes ------------------ */

/*  */
.custom-shape-divider-top-1707322241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  border-radius: 12px;
}

.custom-shape-divider-top-1707322241 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-top-1707322241 .shape-fill {
  fill: #444;
}

/*  */
.custom-shape-divider-bottom-1707322314 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  border-radius: 12px;
}

.custom-shape-divider-bottom-1707322314 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 35px;
}

.custom-shape-divider-bottom-1707322314 .shape-fill {
  fill: #444;
}